@import "vars";

.navigation {
  position: fixed;
  z-index: 100;
  top: 60px;
  right: 40px;
  width: 50px;
  height: 50px;
  &__item {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
  }
  &__line {
    display: block;
    position: absolute;
    background: $mainColor;
    width: 30px;
    height: 3px;
    transition: all 0.2s;
    &_first {
      top: 0;
    }
    &_second {
      top: 8px;
    }
    &_third {
      top: 16px;
    }
  }
  .navigation__item:hover .navigation__line {
    background: #1976d2;
  }
}
