@import "../../styles/vars";

.navigation {
  position: fixed;
  z-index: 50;
  top: 60px;
  right: 40px;
  width: 50px;
  height: 50px;
  .aboutBg {
    width: 95vw;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $background;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
    &.active {
      opacity: 1;
    }
  }
  &__item {
    cursor: pointer;
    display: block;
    position: relative;
    width: 50px;
    height: 40px;
  }
  &__line {
    display: block;
    position: absolute;
    background: $mainColor;
    width: 30px;
    height: 3px;
    transition: all 0.2s;
    &_first {
      top: 0;
    }
    &_second {
      top: 8px;
    }
    &_third {
      top: 16px;
    }
  }
  .navigation__item:not(.active):hover,
  .navigation__item.active {
    .navigation__line_first {
      opacity: 0;
    }
    .navigation__line_second {
      transform: rotate(45deg);
      top: 8px;
    }
    .navigation__line_third {
      transform: rotate(135deg);
      top: 8px;
    }
  }
  .navigation__item.active {
    .navigation__line_second,
    .navigation__line_third {
      background: #263d42;
    }
  }
}
