.accordion-container {
    margin: 10vh auto 0;
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    .accordion__item {
        width: 300px;
        height: max-content;
        padding: 15px 10px;
        background: #fff;
        &__header {
            height: 30px;
            cursor: pointer;
        }
    }
}