@import '../../../styles/vars';
.accordion-container {
   margin: 10vh auto 0;
   width: 60vw;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   .accordion__item {
      width: 300px;
      border-radius: 15px;
      height: min-content;
      background: #fff;
      height: max-content;
      color: #f76c5e;
      &__header {
         width: 100%;
         height: min-content;
         background-color: #aad1ff;
         border-radius: 15px;
         cursor: pointer;
         padding: 15px 10px;
         position: relative;
         transition: 0.2s ease;
         &::after {
            content: '';
            position: absolute;
            top: 15px;
            right: 20px;
            display: block;
            width: 12px;
            height: 12px;
            background: transparent;
            border-radius: 15px;
            border-left: 2px solid #000;
            border-top: 2px solid #fff;
            transition: 0.3s ease;
            transform: rotate(225deg);
         }
         &.active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            &::after {
               transform: rotate(45deg);
               border-bottom: 2px solid #000;
               border-right: 2px solid #fff;
               border-top-color: #000;
               border-left-color: #fff;
            }
         }
      }
      &__body {
         transition: 0.3s ease;
         opacity: 0;
         max-height: 0;
         &.showed {
            max-height: 300px;
            opacity: 1;
            padding: 10px 15px 5px;
         }
      }
   }
}
.blue {
   color: $blue;
}
